/* Medium Devices, Tablets */
@media only screen and (max-width : 992px) {

	.frame {
		width: 768px;
		border-top: 5px solid #9B51E0;
		padding: 0 25px;
	}

/* header */
	.header-logo {
		margin: 20px 0 0 0;
	}

	.search-form {
		margin: 30px 0 0 0;
	}

	.top-list__item {
		margin-left: 16px;
		font-size: 14px;
	}

	.main-image {
		width: 100%;
		margin-top: 15px;
		padding: 25px 0 0 25px;
	}

	.main-image__heading {
		font-size: 48px;
	}

	.main-image__paragraph {
		width: 330px;
		margin-top: 10px;
	}

	.main-image__link {
		margin-top: 15px;
	}

/* main-content */
	.main-content {
		width: 460px;
		margin: 0 auto;
	}

	.text-block {
		margin-top: 15px;
	}

	.rectangle-block {
		display: flex;
	}

	.text-block_size_small {
		margin: 15px auto 0 auto;
	}

	.main-content:last-of-type {
		margin-top: 15px;
	}

	.main-content__image {
		margin: 10px 0 0 0;
	}
	
	.main-content__image:first-of-type {
		margin: 10px 0 0 25px;
	}

	.main-content__image:nth-of-type(4) {
		margin: 0 0 10px 25px;
	}

	.main-content__image:last-of-type {
		margin: 0 35px 10px 0;
	}

	.footer {
		width: 768px;
		margin-left: -25px;
	}

} /* end @media only screen and (max-width : 992px) */


/* Small Devices, Mobiles */
@media only screen and (max-width : 576px) {

	.frame {
		width: 320px;
		border-top: 5px solid #9B51E0;
		padding: 0;
	}

/* header */
	.header-logo {
		margin: 15px auto 0 auto;
	}

	.search-form {
		margin: 15px auto 0 auto;
	}

	.top-list {
		height: 80px;
	}

	.top-list__item {
		font-size: 12px;
		margin-left: 15px;
	}

	.navigation-menu__main-link_style {
		width: 80px;
		height: 30px;
		line-height: 30px;
		margin-bottom: 7px;
	}

	.top-list__item:nth-of-type(2) {
		margin-left: 25px;
	}

	.top-list__item:nth-of-type(5) {
		margin-left: 23px;
	}

/* main-image block */
	.main-image {
		width: 100%;
		margin-top: 20px;
		padding: 25px 15px 0 15px;
	}

	.main-image__heading {
		width: 100%;
		height: 85px;
		font-size: 36px;
		text-align: center;
	}

	.main-image__paragraph {
		width: 90%;
		text-align: justify;
		margin: 15px auto 0 auto;
	}

	.main-image__link {
		margin: 25px auto 0 auto;
	}

/* main-content blok */
	.main-content {
		width: 310px;
	}

	.text-block__image {
		margin: 15px auto 0 auto;
	}

	.text-block__paragraph {
		margin: 15px auto 0 auto;
	}

	.text-block__image_size_small {
		margin: 15px 10px 0 0;
	}


	.main-content__image:first-of-type {
		margin: 10px 0 0 0;
	}

	.main-content__image:nth-of-type(3) {
		margin: 10px auto 0 auto;
	}

	.main-content__image:nth-of-type(4) {
		margin: 10px 0 0 70px;
	}

	.main-content__image:last-of-type {
		margin: 10px auto 15px auto;
	}


	.footer {
		width: 100%;
		margin: 0;	
	}

} /* end @media only screen and (max-width : 576px) */